{% extends 'layout.html' %} {% block content %}
<!-- Breadcrumbs -->
<section
	class="section novi-background breadcrumbs-custom bg-image context-dark"
	style="background-image: url(static/images/contact.jpg)"
>
	<div class="breadcrumbs-custom-inner">
		<div class="container breadcrumbs-custom-container">
			<div class="breadcrumbs-custom-main">
				<h6 class="breadcrumbs-custom-subtitle title-decorated">
					Email
				</h6>
				<h2 class="text-uppercase breadcrumbs-custom-title">
					Email
				</h2>
			</div>
			<ul class="breadcrumbs-custom-path">
				<li><a href="/">Home</a></li>
				<li class="active">Email</li>
			</ul>
		</div>
	</div>
</section>

<!-- Message -->
<section class="content-header">
  {% for message in get_flashed_messages()%}
  <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      {{ message }}
  </div>
  {% endfor%}
</section>
<section class="section novi-background bg-gray-100">
	<div class="range justify-content-xl-between">
		<div class="cell-xl-6 align-self-center container">
			<div class="row">
				<div class="col-lg-9 cell-inner">
					<div class="section-lg">
						<h3 class="text-uppercase wow-outer">
							<span class="wow slideInDown">Email</span>
						</h3>
						<!-- RD Mailform-->
						<form class="rd-form rd-mailform" action="/email" method="POST">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputTanggal">Email User</label>
                  {% for row in emailuser %}
                  <input type="email" class="form-control" name='email' value='{{row[1]}}'>
                  {% endfor %}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputTanggal">Password</label>
                  <input type="password" class="form-control" name='password'>
                </div>               
              </div>
              <br/>
              <div class="form-group">
                <label for="inputJudul">Email Tujuan</label>
                <select name='emailkepada'>
                  <option value= "all" >All</option>
                  {% for row in alluser %}
                  <option value= "{{row[1]}}">{{row[1]}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputTanggal">Subject</label>
                <input type="text" class="form-control" name='subject' placeholder="Judul Subject Email">
              </div>
              <div class="form-group">
                <label for="inputTanggal">Isi Email</label>
                <textarea class="form-control" name='isiemail'></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Save</button>  
            </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
