{% extends 'layout.html' %} {% block content %}
<!-- Breadcrumbs -->
<section
	class="section novi-background breadcrumbs-custom bg-image context-dark"
	style="
		background-image: url(https://images.unsplash.com/photo-1541194577687-8c63bf9e7ee3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGRhcmslMjByb29tfGVufDB8fDB8fHww&w=1000&q=80);
	"
>
	<div class="breadcrumbs-custom-inner">
		<div class="container breadcrumbs-custom-container">
			<div class="breadcrumbs-custom-main">
				<h6 class="breadcrumbs-custom-subtitle title-decorated">
					Yours Transaction
				</h6>
				<h2 class="text-uppercase breadcrumbs-custom-title">
					History
				</h2>
			</div>
			<ul class="breadcrumbs-custom-path">
				<li><a href="/">Home</a></li>
				<li class="active">Transaction</li>
			</ul>
		</div>
	</div>
</section>
<!-- Base typography-->
<section class="section novi-background section-sm section-first">
	<div class="container">
		<div>
			<h1>Your Real Estate Journey</h1>
			<p>
				Revisit the milestones of your real estate adventure with our
				'Top Properties of the Month' feature. Explore the history of
				your chosen properties, each telling a unique tale of
				extraordinary design, coveted locations, and enduring value.
				These highlighted listings reflect the pinnacle of luxury and
				innovation, embodying the chapters of your personal real estate
				narrative.
			</p>
		</div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">No</th>
						<th scope="col">Photo</th>
						<th scope="col">Id User</th>
						<th scope="col">Payment</th>
						<th scope="col">Total Price</th>
						<th scope="col">Status</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% if data|length == 0 %}
					<b>No Entry Has Been Added</b>
					<br />
					{% else %} {% for row in data %}
					<tr>
						<th scope="row">{{ loop.index }}</th>
						<td>
							<img
								src="../static/uploads/{{ row[1] }}"
								alt="Property 1"
								class="img-table"
							/>
						</td>
						<td>{{row[2]}}</td>
						<td>{{row[3]}}</td>
						<td>{{row[4]}}</td>
						<td>{{row[5]}}</td>
						<td>
							<div style="padding: 8px 0px">
								{% if row[5] == 'PENDING' %}
									<a href="/acctransaksi/{{ row[0] }}" class="btn" style="background-color: green; color: white">ACCEPT</a>
								{% elif row[5] == 'ON GOING' %}
									<a href="/acctransaksi/{{ row[0] }}" class="btn" style="background-color: blue; color: white">CONFIRM</a>
								{% endif %}
							</div>
						</td>
					</tr>
				</tbody>
				{% endfor %} {% endif %}
			</table>
		</div>
		<div style="padding: 100px 50px">
			<h3>Your Real Estate Journey</h3>
			<div style="padding: 50px 0px">
				<h5>🌟 Reliving Luxury Moments</h5>
				<p>
					Experience the epitome of luxury living through our 'Top
					Properties of the Month' showcase. From sophisticated
					penthouses offering breathtaking city views to secluded
					beachfront villas with private infinity pools, these
					properties redefine opulence, creating moments of sheer
					indulgence for you.
				</p>
				<h5>🏡 Prime Locations Explored</h5>
				<p>
					Location is paramount in real estate, and our featured
					properties are strategically positioned in some of the most
					sought-after neighborhoods and destinations. Whether it's
					the heartbeat of urban living, the tranquility of the
					countryside, or the allure of a tropical paradise, we've got
					your preferences covered.
				</p>
				<h5>💎 Unparalleled Features Unveiled</h5>
				<p>
					Step into a world of unmatched features as these properties
					showcase everything from smart home technology and
					eco-friendly designs to expansive gardens and world-class
					amenities. Each property stands as a unique masterpiece,
					reflecting unparalleled craftsmanship and innovation.
				</p>
				<h5>🔒 Exclusivity and Limited Opportunities</h5>
				<p>
					Our 'Top Properties of the Month' is a testament to
					exclusivity, with limited availability. Whether you're
					considering an investment in luxury real estate or searching
					for your dream home, seize the opportunity to explore these
					exceptional listings before they become coveted treasures.
				</p>
				<h5>📆 Monthly Showcase Tradition</h5>
				<p>
					Make it a ritual to return every month and unveil a fresh
					selection of remarkable properties. Our unwavering
					commitment to excellence ensures that each edition of the
					'Top Properties of the Month' collection holds something
					extraordinary, continuing your journey through the finest
					real estate offerings.
				</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
