{% extends 'layout.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/update.css" />
<section class="Update">
	<div class="Wrapper">
		<div class="Wrapper-update">
			<h1>Update</h1>
		</div>
		<div>
			{% for row in data %}
			<form action="/update" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<label for="name">Nama Gedung</label>
					<input
						type="text"
						class="form-control"
						name="name"
						placeholder="Nama Gedung"
						value="{{row[1]}}"
						required
					/>
				</div>
				<div class="form-group">
					<label for="address">Alamat Gedung</label>
					<input
						type="text"
						class="form-control"
						name="address"
						value="{{row[2]}}"
						placeholder="Jl. Budi Indah ...."
						required
					/>
				</div>
				<div class="form-group">
					<label for="category_id">Kategori</label>
					<select name="category_id" class="form-control">
						{% for category in option %}
						<option value="{{category[0]}}" {% if category[0] == row[3] %} selected {% endif %}>{{category[1]}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="price">Harga</label>
					<input
						type="number"
						class="form-control"
						name="price"
						placeholder="Harga"
						value="{{row[4]}}"
						required
					/>
				</div>
				<div class="form-group">
					<label for="description">Deskripsi</label>
					<textarea
						name="description"
						class="form-control"
						rows="2"
						placeholder="Deskripsi..."
					>{{ row[5] }}</textarea>
				</div>
				<div class="form-group">
					<label for="imageInput">Image input</label>
					<input
						type="file"
						class="form-control-file"
						id="imageInput"
						accept=".png, .jpg, .jpeg"
						name="files"
						multiple
					/>
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %} `
